doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width", initial-scale=1)
        link(rel="stylesheet", href="/main.css")
    body
        h1 Info
        article
            p Number of clicks: #{count}
            p Original url: #{url}
            p Short ID: #{short}
            p Short URL: #{shortUrl}
